<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Zodiac sign by the date</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">zodiac-dateofbirth</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-datetime displayFormat="YYYY.MM.DD" (ionChange)="onDateOfBirthChange($event)"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Wybrana data: {{ dateOfBirth }}</ion-label>
  </ion-item>

  <ion-button expand="full" (click)="checkZodiacSign()">check your zodiac sign</ion-button>

</ion-content>
